@model EShop.Domain.Entities.Product


<h1>@Model.Name</h1>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/ProductImages/@Model.Image" class="img-fluid"/>
    </div>

    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Название</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>@Model.Price</td>
            </tr>
        </table>
        <button onclick="addToCart(@Model.Id)" class="btn btn-success"
                data-toggle="modal" data-target="#addToCartModal">
            Купить
        </button>
    </div>
</div>