@using EShop.Domain.Entities
@using Microsoft.AspNetCore.Identity
@model EShop.WebUI.ViewModels.ProductViewModels
@inject SignInManager<ShopUser> _SignInManager

@{
    ViewData["Title"] = Model.Product.Name;
}

<h1>@Model.Product.Name</h1>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/ProductImages/@Model.Product.Image" class="img-fluid"/>
    </div>

    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Название</th>
                <td>@Model.Product.Name</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>@Model.Product.Category.Name</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>@Model.Product.Description</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>@Model.Product.Price.ToString("C")</td>
            </tr>
        </table>
        <button onclick="addToCart(@Model.Product.Id)" class="btn btn-success"
                data-toggle="modal" data-target="#addToCartModal">
            Купить

        </button>
    </div>
</div>

<br/>
<br/>
<h3>Отзывы</h3>
<hr/>

@foreach (var review in Model.Reviews.Reviews)
{
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p>@review.Text</p>
            <small class="text-muted">
                
                Рейтинг : @review.Rate

            </small>
            <br />
            <small class="text-muted">
                @review.Date
            </small>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    @review.User.FirstName @review.User.LastName
                </small>
            </footer>
        </blockquote>
    </div>
    <br/>
}

@if(_SignInManager.IsSignedIn(User))
{<div class="jumbotron  mb-6">
     <h1 class="display-4">Оставьте свой отзыв о данном товаре!</h1>
     <hr class="my-4">
     <form  asp-antiforgery="true" asp-action="CreateReview" asp-controller="Review">
         <div class="form-group">
             <label for="exampleFormControlTextarea1">Ваш отзыв очень важен для нас!</label>
             <br/>
             <label>Оценка:</label>
             <select class="form-control" name="rate">
                 <option class="dropdown-item">1</option>
                 <option class="dropdown-item">2</option>
                 <option class="dropdown-item">3</option>
                 <option class="dropdown-item">4</option>
                 <option class="dropdown-item" selected>5</option>
             </select>
             <textarea required="" placeholder="Ваш отзыв..." class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
             <input type="hidden" name="productId" value="@Model.Product.Id" />
         </div>
         <button type="submit" class="btn btn-primary">Отправить</button>
     </form>
 </div>
    <br /> }
else
{
<div class="jumbotron  mb-6">
    <h4 class="display-4 text-center">Авторизуйтесь, чтобы оставить свой отзыв!</h4>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg btn-block" asp-area="Identity" asp-page="/Account/Login">Авторизоваться</a>
</div>
    <br />
}
