@model EShop.WebUI.ViewModels.CommonViewModels;

@{
    ViewData["Title"] = "Товары";
}

<div class="row">
    <div>
        <form asp-controller="Products" asp-action="Filter">
            <label>Категория:</label>
            <select class="form-control" name="category">
                @foreach(var category in Model.Categories.Categories)
                {
                    <option class="dropdown-item">@category.Name</option>
                }
                <option class="dropdown-item" selected>Любая</option>
            </select>
            <label>Производитель:</label>
            <select class="form-control" name="vendor">
                @foreach(var vendor in Model.Vendors.Vendors)
                {
                    <option class="dropdown-item">@vendor.Name</option>
                }
                <option class="dropdown-item" selected>Любой</option>
            </select>
            <label>Сортировка по цене</label>
            <select class="form-control" name="sort">
                <option class="dropdown-item">Сначала дорогие</option>
                <option class="dropdown-item">Сначала дешёвые</option>
                <option class="dropdown-item" selected>Не сортировать</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-outline-primary">Применить фильтр</button>
        </form>
    </div>


    <div class="row col-md-9 offset-md-1">
        @{
            foreach(var product in Model.Products.Products)
            {
                <div class="card col-md-4 text-center">
                    <img src="~/Images/ProductImages/@product.Image" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                    </div>

                    <h2>@product.Price.ToString("C")</h2>

                    <a class="btn btn-warning btn-block" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                        Подробнее
                    </a>
                    <a class="btn btn-success btn-block" id="buttonBuy" onclick="AddProduct(@product.Id)">
                        В корзину
                    </a>
                    @if(User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger btn-block" asp-controller="Admin" asp-action="DeleteProduct" asp-route-ProductId="@product.Id">
                            Удалить товар
                        </a>
                    }
                    <br/>
                </div>
            }
        }
    </div>
</div>